/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

/*  navbar  */

body {
  background: #e9eaed;
}

.navbar {
  background: #44609D;
  border-color: #44609D;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 50px;
  padding-right: 150px;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 10px;
}

.dropdown span {
  background: #23355B;
}

/*  navbar  */
.small-containers {
  background: white; 
}

/*  display users in books (home page)  */
.user-tiny-info img{
  
}

/*  make buttons facebook style  */
.facebook-style-button {
  background-color: #4e69a2;
  border-color: #435a8b #3c5488 #334c83;
  color: white;
  border-radius: 0px;
}

.navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    width: 400px;
}
